<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackly</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>


<div class="page">
    <div class="logo-section">
        <img src="../public/images/image.png" class="logo"></div>

    <div class="tagline">
        <h2>Remove subscription</h2>
    </div>


    <div class="main-box">


        <label>Select subscription:</label>
        <select id="subscriptions">
            <option>Select subscription</option>
        </select>


        <input type="submit" value="Confirm">
        </form>
    </div>
</div>

</body>
</html>